<template is="a-template"
          element="a-sky"
          src=""
          color="#FFF"
          radius="5000"
          segments-width="64"
          segments-height="64">
  <img id="a-sky-${__counter__}" src="${src}" class="a-hidden">
  <a-entity geometry="primitive: sphere;
                      radius: ${radius};
                      segmentsWidth: ${segments-width};
                      segmentsHeight: ${segments-height}"
            material="shader: flat;
                      src: #a-sky-${__counter__};
                      color: ${color};
                      fog: false"
            scale="-1 1 1">
  </a-entity>
</template>
